<div class="contents row">
  <a href="/">一覧に戻る</a>
  <%= form_tag('/complete', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <p><input type="text" name="title" placeholder="タイトル"></p>
    <p><input type="text" name="image" placeholder="image URL"></p>
    <textarea name="content" placeholder="記事を書いて下さい" rows="10" cols="50"></textarea>
    <p><input type="submit" value="投稿"></p>
  <% end %>
</div>